@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0e0e10;
  color: white;
  font-family: 'Inter', sans-serif;
}
/* Custom Scrollbar Styles */
.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.2);
  border-radius: 3px;
  transition: background 0.2s ease;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: rgba(156, 163, 175, 0.4);
}

/* For Firefox */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: rgba(156, 163, 175, 0.2) transparent;
}

/* Hide scrollbar completely on hover effect */
.scrollbar-invisible::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.scrollbar-invisible {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
